@page
@model IndexModel
@{
    ViewData["Title"] = "Certificate Information";
}

<div>
    <h1 class="display-4">Certificate Information</h1>
    <table>
        <tr><td>Protocol:</td><td>@ViewData["Protocol"]</td></tr>
        <tr><td>Issuer:</td><td>@ViewData["Issuer"]</td></tr>
        <tr><td>SubjectName:</td><td>@ViewData["SubjectName"]</td></tr>
        <tr><td>Serial:</td><td>@ViewData["Serial"]</td></tr>
        <tr><td>Thumbprint:</td><td>@ViewData["Thumbprint"]</td></tr>
        <tr><td>Expiration:</td><td>@ViewData["Expiration"]</td></tr>
    </table>
    </br>
    <p><i><sub>Local Test URI: @ViewData["TestURI"]</sub></i></p>
</div>
